# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
ServerCore/ServerLibrary/x64/Debug/
ServerCore/x64/Debug/DBAgent.ilk
ServerCore/x64/Debug/DBAgent.pdb
ServerCore/x64/Debug/
ServerCore/DBAgent/x64/Debug/
DummyClient/DummyClient/bin/Debug/
*.ipch
*.db
